@model WebApplication1.Models.ProductEditModel
@using System.Collections;
@using WebApplication1.Models;
@{
    ViewData["Title"] = "Create";
}



<h2>Create</h2>

<form action="/hemo/create" method="post">



    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <label for="Name">Name</label>
                    <input type="text" name="Name" />
                </th>

                <th>
                    <label for="Rate">Rate</label>
                    <input type="text" name="Rate" />
                </th>
                <th>
                    <label for="Rating">Rating</label>
                    <input type="text" name="Rating" />
                    <input type="submit" name="submit" />
                </th>
            </tr>
        </thead>
    </table>

</form>

@*<ul>
        @foreach (var std in ViewData["students"] as List<Student>)
        {
            <li>
                @std.StudentName
            </li>
        }
    </ul>*@

@*if (@Model.Name != null)
    {
        <h1>@Model.Name</h1>
    }*@

@*string[] Name;
    decimal[] Rate;
    int[] Rating;

    Name[Name.Length] = @Model.Name;
    Rate[Rate.Length] = @Model.Rate;
    Rating[Rating.Length] = @Model.Rating;*@

@{

    if (ViewData["hh"] != null && ViewData["hh"] is List<ProductEditModel>)
    {


        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Rate</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    @foreach (var std in ViewData["hh"] as List<ProductEditModel>)
                        {
                    <td>
                        @std.Name
                        
                    </td>
                    <td>
                        @std.Rate
                    </td>
                    <td>

                        @std.Rating
                    </td>
                        }
                </tr>
            </tbody>
        </table>



        @*if (ViewData["hh"] != null && ViewData["hh"] is List<ProductEditModel>)
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Rate</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (var std in ViewData["hh"] as List<ProductEditModel>)
                            {
                                <td>
                                    @std.Name
                                </td>
                                <td>
                                    @std.Rate
                                </td>
                                <td>
                                    @std.Rating
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>*@
    }
}
